<div class="jumbotron">
	<img src="img/sprites/pokemon/other-sprites/official-artwork/94.png" height="250" width="250" class="rounded mx-auto d-block" alt="Gengar">

  	<h2 class="display-3">Welcome to Pokemon Search!</h2>
  	<p class="lead">
  		This website is for educational purposes only. It uses pokeapi<sup>v2</sup> to get its data.
  		It's like <a href="https://pokemondb.net/">pokemondb</a> but in a smaller scale.
  	</p>
  	<p class="lead">You can search for pokemons and items and it will display their info.</p>
  	<hr class="my-4">
  	<p class="lead">Please donate to <a href="https://pokeapi.co/">pokeapi</a>. It's an awesome RESTful Pokemon API.</p>
</div>